fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
pydantic
pydantic-settings
python-dotenv
python-multipart
httpx
celery
passlib[bcrypt]
bcrypt>=4.0.1,<5
python-jose[cryptography]
Pillow
slowapi
redis
stripe
email-validator
asyncpg
alembic
gunicorn
boto3
numpy
opencv-python-headless
packaging
tqdm
